[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "puppet/modules/jenkins"]
	path = puppet/modules/jenkins
	url = https://github.com/jenkinsci/puppet-jenkins.git
[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = https://github.com/maestrodev/puppet-rvm.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppet-postgresql.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/sudo"]
	path = puppet/modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "puppet/modules/foreman_proxy"]
	path = puppet/modules/foreman_proxy
	url = https://github.com/theforeman/puppet-foreman_proxy.git
[submodule "puppet/modules/tftp"]
	path = puppet/modules/tftp
	url = https://github.com/theforeman/puppet-tftp.git
[submodule "puppet/modules/puppet"]
	path = puppet/modules/puppet
	url = https://github.com/theforeman/puppet-puppet.git
[submodule "puppet/modules/foreman"]
	path = puppet/modules/foreman
	url = https://github.com/theforeman/puppet-foreman.git
[submodule "puppet/modules/xinetd"]
	path = puppet/modules/xinetd
	url = https://github.com/puppetlabs/puppetlabs-xinetd.git
[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "puppet/modules/ssh_statickeys"]
	path = puppet/modules/ssh_statickeys
	url = https://github.com/GregSutcliffe/puppet-ssh_statickeys
[submodule "puppet/modules/dirvish"]
	path = puppet/modules/dirvish
	url = https://github.com/GregSutcliffe/puppet-dirvish
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/theforeman/puppet-git.git
[submodule "puppet/modules/timezone"]
	path = puppet/modules/timezone
	url = https://github.com/BashtonLtd/puppet-timezone.git
[submodule "puppet/modules/rsync"]
	path = puppet/modules/rsync
	url = https://github.com/puppetlabs/puppetlabs-rsync.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/voxpupuli/puppet-nodejs.git
[submodule "puppet/modules/mount_providers"]
	path = puppet/modules/mount_providers
	url = https://github.com/puppetlabs/puppetlabs-mount_providers.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "puppet/modules/external_ip"]
	path = puppet/modules/external_ip
	url = https://github.com/nightfly19/puppet-external_ip
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
	branch = 1.8.x
[submodule "puppet/modules/selinux"]
	path = puppet/modules/selinux
	url = https://github.com/voxpupuli/puppet-selinux.git
[submodule "puppet/modules/letsencrypt"]
	path = puppet/modules/letsencrypt
	url = https://github.com/voxpupuli/puppet-letsencrypt.git
[submodule "puppet/modules/inifile"]
	path = puppet/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/pbuilder"]
	path = puppet/modules/pbuilder
	url = https://github.com/camptocamp/puppet-pbuilder.git
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = https://github.com/voxpupuli/puppet-staging.git
[submodule "puppet/modules/archive"]
	path = puppet/modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "puppet/modules/extlib"]
	path = puppet/modules/extlib
	url = https://github.com/voxpupuli/puppet-extlib.git
[submodule "puppet/modules/augeasproviders_core"]
	path = puppet/modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "puppet/modules/augeasproviders_mounttab"]
	path = puppet/modules/augeasproviders_mounttab
	url = https://github.com/hercules-team/augeasproviders_mounttab.git
[submodule "puppet/modules/gnupg"]
	path = puppet/modules/gnupg
	url = https://github.com/dgolja/golja-gnupg.git
[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "puppet/modules/augeasproviders_shellvar"]
	path = puppet/modules/augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "puppet/modules/augeasproviders_ssh"]
	path = puppet/modules/augeasproviders_ssh
	url = https://github.com/hercules-team/augeasproviders_ssh.git
[submodule "puppet/modules/datacat"]
	path = puppet/modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "puppet/modules/htpasswd"]
	path = puppet/modules/htpasswd
	url = https://github.com/ghoneycutt/puppet-htpasswd
[submodule "puppet/modules/translate"]
	path = puppet/modules/translate
	url = https://github.com/puppetlabs/puppetlabs-translate.git
[submodule "puppet/modules/docker"]
	path = puppet/modules/docker
	url = https://github.com/puppetlabs/puppetlabs-docker
[submodule "puppet/modules/reboot"]
	path = puppet/modules/reboot
	url = https://github.com/puppetlabs/puppetlabs-reboot.git
[submodule "puppet/modules/powershell"]
	path = puppet/modules/powershell
	url = https://github.com/puppetlabs/puppetlabs-powershell.git
[submodule "puppet/modules/unattended_upgrades"]
	path = puppet/modules/unattended_upgrades
	url = https://github.com/voxpupuli/puppet-unattended_upgrades.git
[submodule "puppet/modules/systemd"]
	path = puppet/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd
[submodule "puppet/modules/transition"]
	path = puppet/modules/transition
	url = https://github.com/puppetlabs/puppetlabs-transition
[submodule "ansible/roles/Jimdo.fastly"]
	path = ansible/roles/Jimdo.fastly
	url = https://github.com/evgeni/ansible-fastly
	branch = theforeman
[submodule "puppet/modules/yum_cron"]
	path = puppet/modules/yum_cron
	url = https://github.com/treydock/puppet-yum_cron.git
[submodule "puppet/modules/mailalias_core"]
	path = puppet/modules/mailalias_core
	url = https://github.com/puppetlabs/puppetlabs-mailalias_core.git
[submodule "puppet/modules/yumrepo_core"]
	path = puppet/modules/yumrepo_core
	url = https://github.com/puppetlabs/puppetlabs-yumrepo_core.git
