[submodule "ansible/roles/Jimdo.fastly"]
	path = ansible/roles/Jimdo.fastly
	url = https://github.com/evgeni/ansible-fastly
	branch = theforeman
[submodule "puppet/test_modules/yumrepo_core"]
	path = puppet/test_modules/yumrepo_core
	url = https://github.com/puppetlabs/puppetlabs-yumrepo_core.git
[submodule "puppet/test_modules/cron_core"]
	path = puppet/test_modules/cron_core
	url = https://github.com/puppetlabs/puppetlabs-cron_core.git
[submodule "puppet/test_modules/selinux_core"]
	path = puppet/test_modules/selinux_core
	url = https://github.com/puppetlabs/puppetlabs-selinux_core
[submodule "puppet/test_modules/augeas_core"]
	path = puppet/test_modules/augeas_core
	url = https://github.com/puppetlabs/puppetlabs-augeas_core
