[defaults]
# Attempt to load cico Ansible module whether it's installed system-wide or from a virtual environment
library = /usr/lib/python2.7/site-packages/cicoclient/ansible:$VIRTUAL_ENV/lib/python2.7/site-packages/cicoclient/ansible
host_key_checking = False
retry_files_enabled = False
