---
- hosts: localhost
  gather_facts: False
  roles:
    - Jimdo.fastly
  vars_files:
    - secrets.yml
  tasks:
    - name: configure fastly service
      fastly_service:
        name: "{{ item }}.theforeman.org"
        fastly_api_key: "{{ fastly_api_key }}"
        domains:
          - name: "{{ item }}.theforeman.org"
        backends:
          - name: web01.osuosl.theforeman.org
            address: web01.osuosl.theforeman.org
            port: 443
            shield: iad-va-us
            ssl_cert_hostname: "{{ item }}.theforeman.org"
            ssl_sni_hostname: "{{ item }}.theforeman.org"
            healthcheck: HEADER.html
        healthchecks:
          - name: HEADER.html
            host: "{{ item }}.theforeman.org"
            path: "/HEADER.html"
            threshold: 1
            timeout: 5000
            window: 2
            initial: 1
            check_interval: 60000
      with_items:
        - archivedeb
        - deb
        - downloads
        - stagingdeb
        - stagingyum
        - yum
