---
- hosts: localhost
  gather_facts: False
  roles:
    - Jimdo.fastly
  vars_files:
    - secrets.yml
  tasks:
    - name: configure fastly service
      fastly_service:
        name: "{{ item.service }}.theforeman.org"
        fastly_api_key: "{{ fastly_api_key }}"
        domains: "{{ domains }}"
        backends:
          - name: "{{ item.backend }}.theforeman.org"
            address: "{{ item.backend }}.theforeman.org"
            port: 443
            shield: iad-va-us
            ssl_cert_hostname: "{{ item.backend }}.theforeman.org"
            ssl_sni_hostname: "{{ item.backend }}.theforeman.org"
            override_host: "{{ item.backend }}.theforeman.org"
            healthcheck: "{{ item.healthcheck | default('HEADER.html') }}"
        healthchecks:
          - name: "{{ item.healthcheck | default('HEADER.html') }}"
            host: "{{ item.backend }}.theforeman.org"
            path: "/{{ item.healthcheck | default('HEADER.html') }}"
            threshold: 1
            timeout: 5000
            window: 2
            initial: 1
            check_interval: 60000
        headers:
          - name: Location
            action: regex
            dst: http.Location
            ignore_if_set: 0
            priority: 10
            regex: "{{ item.backend }}.theforeman.org"
            src: resp.http.Location
            substitution: "{{ domains[0].name }}"
            type: response
      vars:
        domains: "{{ item.domains | default([{'name': item.service ~ '.theforeman.org'}]) }}"
      with_items:
        - service: archivedeb
          backend: archivedeb-backend.web01.osuosl
        - service: deb
          backend: deb-backend.web01.osuosl
        - service: downloads
          backend: downloads-backend.web01.osuosl
        - service: stagingdeb
          backend: stagingdeb-backend.web01.osuosl
        - service: stagingyum
          backend: stagingyum-backend.web01.osuosl
        - service: yum
          backend: yum-backend.web01.osuosl
        - service: www
          backend: web-backend.website01.osuosl
          healthcheck: index.html
          domains:
            - name: theforeman.org
            - name: www.theforeman.org
