name: CI

on: pull_request

jobs:
  puppet:
    runs-on: ubuntu-latest
    name: Puppet
    defaults:
      run:
        working-directory: puppet
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          submodules: true
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.5'
          bundler-cache: true
          working-directory: puppet
      - name: Install yajl-tools
        run: sudo apt-get install -y yajl-tools
      - name: Setup g10k
        run: |
          wget https://github.com/xorpaul/g10k/releases/download/v0.8.9/g10k-linux-amd64.zip
          unzip g10k-linux-amd64.zip
      - name: Install modules using g10k
        run: ./g10k -cachedir .g10k/cache -puppetfile -puppetfilelocation Puppetfile_forge -moduledir forge_modules
      - name: Run syntax
        run: bundle exec rake syntax
      - name: Run lint
        run: bundle exec rake lint
      - name: Run tests
        run: bundle exec rake spec
